$page.setTitle("记日记")

#macro (postNoteMessage $field)
#if (!$field.valid) $field.message #end
#end

<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    plugins: "code,advlist,anchor,compat3x,example,media,tabfocus,image,insertdatetime",
    language : 'zh_CN'
 });
</script>


<form action="" method="post">
	<input type="hidden" name="action" value="PostBlogAction"/>
	$csrfToken.hiddenField
	#set ($group = $form.postNote.defaultInstance)
		<dl>
			<dt>标题</dt>
			<dd>
				<div>
					<input type="text" name="$group.title.key" value="$!group.title.value"/>
				</div>
				<div class="errorMessage">
				#postNoteMessage ($group.title)
				</div>
			</dd>
			<dt>内容</dt>
			<dd>
				<div>
					<textarea rows="10" cols="50" name="$group.content.key"  value="$!group.content.value"></textarea>
				</div>
				<div class="errorMessage">
				#postNoteMessage ($group.content)
				</div>
			</dd>
			
			<dt></dt>
			<dd>
				<input type="submit" name="event_submit_do_post_note" value="发表"/>
			</dd>
		</dl>
    	
	<p>
</form>