<!DOCTYPE html>
<html>
<head>
#showHead ("My Simple Webx Application")
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="$blogContent.getURI("css/note-common.css")" rel="stylesheet" type="text/css">

<!-- Bootstrap css-->
<link href="$blogContent.getURI("script/bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">

<script type="text/javascript" src="$blogContent.getURI("script/tinymce/js/tinymce/tinymce.min.js")"></script>

</head>
</head>

<body #bodyAttributes ()>
<!-- Bootstrap js-->
<script src="$blogContent.getURI("common/templates/script/jquery-1.10.1.js")"></script>
<script src="$blogContent.getURI("script/bootstrap/js/bootstrap.min.js")"></script>

$screen_placeholder

<hr/>
<p>[<a href="$app1Link.setTarget("index")">Home</a>] [<a href="$app1Link">Dev Home</a>]</p>

</body>
</html>
